<!DOCTYPE html>
<html>
<head>
	<title>Bookface</title>
	<link rel="stylesheet" type="text/css" href="main.css" />
</head>
<body>
	Howdy, world!
	<% messages.forEach(m => { %>
		<img class="avatar" src="<%= m.avatar %>">
		<p class="name"><%= m.name %></p>
		<p class="content"><%= m.content %></p>
	<% }); %>
</body>
</html>
