<!DOCTYPE html>
<html>
<head>
	<title>Bookface</title>
	<link rel="stylesheet" type="text/css" href="main.css" />
</head>
<body>
	Howdy, world!
	<% messages.forEach(m => { %>
  	<% include message.ejs %>
	<% }); %>
</body>
</html>