<div class="container">
	<img class="avatar" src="<%= m.avatar %>">
	<span class="name"><%= m.name %></span>
	<span class="content-right"><%= m.content %></span>
	<span class="content-right"><%= m.timestamp %></span>
</div>